In [1]:
# 各科目の点数を変数として定義
japanese = 85  # 国語
math = 90      # 数学
english = 75   # 英語

# 平均点を計算
average = (japanese + math + english) / 3

# 結果を表示
print("3科目の平均点は", average, "点です")

3科目の平均点は 83.33333333333333 点です

In [2]:
a = 10
b = -5
c = 0
print(a + b)  # 5

5

In [3]:
print(10 / 3)   # 3.3333333
print(10 // 3)  # 3

3.3333333333333335
3

In [4]:
x = 3.14
y = 0.1 + 0.2  # 浮動小数点誤差
print(y)  # 0.30000000000000004

0.30000000000000004

In [5]:
c = 2 + 3j
d = -1 + 0.5j
print(c + d)  # (1+3.5j)

(1+3.5j)

In [6]:
text = "Hello, World!"
print(text)

Hello, World!

In [7]:
text = "Python"
print(text.upper())  # 'PYTHON'
print(text.lower())  # 'python'

PYTHON
python

In [8]:
a = 5
b = 10
print(a < b)  # True
print(a == b)  # False

True
False

In [9]:
x = None
print(x)  # None

None

In [10]:
a = 10
b = 3
print("加算:", a + b)  # 13
print("割算:", a / b)  # 3.3333...
print("累乗:", a ** b)  # 1000

加算: 13
割算: 3.3333333333333335
累乗: 1000

In [11]:
x = 10
x += 5
print("x += 5:", x)  # 15
x *= 2
print("x *= 2:", x)  # 30

x += 5: 15
x *= 2: 30

In [12]:
a = 10
b = 5
print("a > b:", a > b)  # True
print("a == b:", a == b)  # False

a > b: True
a == b: False

In [13]:
x = 150
print("100 < x < 200:", 100 < x < 200)  # True

100 < x < 200: True

In [14]:
x = 15
print("10 < x and x < 20:", 10 < x and x < 20)  # True
print("not (x == 15):", not (x == 15))  # False

10 < x and x < 20: True
not (x == 15): False

In [15]:
a = 0b1100  # 12
b = 0b1010  # 10
print("a & b:", bin(a & b))  # 0b1000
print("a << 1:", bin(a << 1))  # 0b11000

a & b: 0b1000
a << 1: 0b11000

In [17]:
score = int(input("点数を入力してください: "))

if score >= 60:
    print("合格です")

print("処理を終了します")

処理を終了します

In [19]:
score = int(input("点数を入力してください: "))

if score >= 60:
    print("合格です")
    print("おめでとうございます！")
else:
    print("不合格です")
    print("もっとがんばりましょう")

print("処理を終了します")

不合格です
もっとがんばりましょう
処理を終了します

In [22]:
score = int(input("点数を入力してください: "))

if score >= 90:
    print("優秀です")
    print("大変よくできました！")
elif score >= 60:
    print("合格です")
    print("おめでとうございます！")
else:
    print("不合格です")
    print("もっとがんばりましょう")

print("処理を終了します")

優秀です
大変よくできました！
処理を終了します

In [23]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [24]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [25]:
i = 0
while i < 10:
    i += 1
    print(i)

print("処理を終了します")

1
2
3
4
5
6
7
8
9
10
処理を終了します

In [26]:
i = 0
while True:
    i += 1
    if i > 10:
        break
    print(i)

print("処理を終了します")

1
2
3
4
5
6
7
8
9
10
処理を終了します

In [27]:
i = 0
while True:
    i += 1
    if i > 10:
        break
    if i % 2 == 1:
        continue
    print(i)

print("処理を終了します")

2
4
6
8
10
処理を終了します

In [28]:
score = int(input("点数を入力してください: "))

ValueError: invalid literal for int() with base 10: 'z'

In [31]:
try:
    # エラーが起こる可能性のある処理
    num = int(input("整数を入力してください: "))
    result = 100 / num
    print(f"100 を {num} で割った結果は {result} です")
except ZeroDivisionError:
    # 0 で割った場合のエラー処理
    print("エラー: 0 で割ることはできません")
except ValueError:
    # 数値以外を入力した場合のエラー処理
    print("エラー: 整数を入力してください")

エラー: 整数を入力してください

In [34]:
try:
    num = int(input("整数を入力してください: "))
    result = 100 / num
except ZeroDivisionError:
    print("エラー: 0 で割ることはできません")
except ValueError:
    print("エラー: 整数を入力してください")
else:
    print(f"計算結果: {result}")
finally:
    print("プログラム終了")

エラー: 整数を入力してください
プログラム終了

In [35]:
x = 10  # 数値型

In [36]:
numbers = [1, 2, 3, 4, 5]  # リスト型

In [37]:
s = "abcdefghijklmnopqrstuvwxyz"

In [38]:
s = "abcdefghijklmnopqrstuvwxyz"
print(s[0])  # a（先頭）
print(s[-1])  # z（末尾）

a
z

In [42]:
s = "abcdefghijklmnopqrstuvwxyz"
print(s[0:7:1])    # abcdefg
print(s[-5:])    # vwxyz
print(s[::-2])    # acegikmoqsuwy（2個おき）

abcdefg
vwxyz
zxvtrpnljhfdb

In [49]:
s = "TechAcademy"
char in s
print(char.upper())  # 各文字を大文字に変換して表示

Y

In [44]:
s = "TechAcademy"
print(len(s))  # 11（文字列の長さ）

11

In [57]:
s = "TechAcademy"
for char in s:
    print(char.upper())  # 各文字を大文字に変換して表示

T
E
C
H
A
C
A
D
E
M
Y

In [58]:
if len(s) > 10:
    print("長い文字列です。")

長い文字列です。

In [59]:
s = "にんてんどううどんてんに"
if s == s[::-1]:
    print(f"「{s}」は回文です！")
else:
    print(f"「{s}」は回文ではありません。")

「にんてんどううどんてんに」は回文です！

In [60]:
numbers = [1, 2, 3, 4, 5]
fruits = ["apple", "banana", "cherry"]
mixed = [1, "apple", 3.14, True]
empty_list = []

print(numbers, fruits, mixed, empty_list)

[1, 2, 3, 4, 5] ['apple', 'banana', 'cherry'] [1, 'apple', 3.14, True] []

In [61]:
string_to_list = list("hello")
tuple_to_list = list((1, 2, 3))
range_to_list = list(range(5))

print(string_to_list, tuple_to_list, range_to_list)

['h', 'e', 'l', 'l', 'o'] [1, 2, 3] [0, 1, 2, 3, 4]

In [62]:
none_list = [None] * 5
zeros = [0] * 10

print(none_list, zeros)

[None, None, None, None, None] [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [63]:
original = [1, 2, 3]
copy1 = original[:]
copy2 = list(original)
copy3 = original.copy()

print(copy1, copy2, copy3)

[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [64]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0], fruits[-1])  # apple, cherry
fruits[1] = "orange"          # 要素の変更
print(fruits)                 # ['apple', 'orange', 'cherry']

apple cherry
['apple', 'orange', 'cherry']

In [65]:
numbers = [0, 1, 2, 3, 4, 5]
print(numbers[1:3], numbers[:3], numbers[2:], numbers[::-1])

[1, 2] [0, 1, 2] [2, 3, 4, 5] [5, 4, 3, 2, 1, 0]

In [66]:
fruits.append("mango")
fruits.insert(1, "grape")
fruits.extend(["kiwi", "pear"])
print(fruits)

['apple', 'grape', 'orange', 'cherry', 'mango', 'kiwi', 'pear']

In [67]:
fruits.pop(1)       # インデックス1の要素を削除
fruits.remove("kiwi")  # 指定値を削除
del fruits[0]       # インデックス0を削除
fruits.clear()      # 全削除

In [68]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined = list1 + list2
list1.extend(list2)

print(combined, list1)

[1, 2, 3, 4, 5, 6] [1, 2, 3, 4, 5, 6]

In [69]:
numbers = [1, 2, 3, 2, 4, 2]
print("2は存在するか:", 2 in numbers)  # True
print("2の出現回数:", numbers.count(2))  # 3
print("2の最初の位置:", numbers.index(2))  # 1

2は存在するか: True
2の出現回数: 3
2の最初の位置: 1

In [72]:
numbers = [3, 1, 4, 1, 5, 9, 2]
numbers.sort()
#sorted_numbers = sorted(numbers, reverse=True)

print(numbers),# sorted_numbers)

[1, 1, 2, 3, 4, 5, 9]

(None,)

In [73]:
numbers = [3, 1, 4, 1, 5, 9, 2]
numbers.sort()
sorted_numbers = sorted(numbers, reverse=True)

print(numbers, sorted_numbers)

[1, 1, 2, 3, 4, 5, 9] [9, 5, 4, 3, 2, 1, 1]

In [74]:
squares = [x**2 for x in range(1, 6)]
print(squares)  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [75]:
even_numbers = [x for x in range(1, 11) if x % 2 == 0]
print(even_numbers)  # [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [76]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix[0][0], matrix[2][1])  # 1, 8

1 8

In [77]:
for row in matrix:
    for element in row:
        print(element, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [78]:
matrix = [[i * j for j in range(1, 4)] for i in range(1, 4)]
print(matrix)

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [79]:
numbers = (1, 2, 3, 4, 5)
fruits = ("apple", "banana", "cherry")
mixed = (1, "apple", 3.14, True)
empty_tuple = ()
one_element_tuple = (1,)  # 要素1つの場合はカンマが必要

print(numbers, fruits, mixed, empty_tuple, one_element_tuple)

(1, 2, 3, 4, 5) ('apple', 'banana', 'cherry') (1, 'apple', 3.14, True) () (1,)

In [80]:
string_to_tuple = tuple("hello")
list_to_tuple = tuple([1, 2, 3])
range_to_tuple = tuple(range(5))

print(string_to_tuple, list_to_tuple, range_to_tuple)

('h', 'e', 'l', 'l', 'o') (1, 2, 3) (0, 1, 2, 3, 4)

In [81]:
none_tuple = (None,) * 5
zeros = (0,) * 10

print(none_tuple, zeros)

(None, None, None, None, None) (0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

In [82]:
original_list = [1, 2, 3]
copied_tuple = tuple(original_list)

original_tuple = (4, 5, 6)
copied_tuple2 = tuple(original_tuple)

print(copied_tuple, copied_tuple2)

(1, 2, 3) (4, 5, 6)

In [83]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])  # apple
print(fruits[-1]) # cherry

apple
cherry

In [84]:
numbers = (0, 1, 2, 3, 4, 5)
print(numbers[1:3])   # (1, 2)
print(numbers[::-1])  # (5, 4, 3, 2, 1, 0)

(1, 2)
(5, 4, 3, 2, 1, 0)

In [85]:
fruits = ("apple", "banana", "cherry")
print("banana" in fruits)      # True
print(fruits.index("cherry"))  # 2

True
2

In [86]:
numbers = (1, 2, 3, 2, 4, 2, 5)
print(numbers.count(2))  # 3

3

In [87]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2

print(combined_tuple)  # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [88]:
numbers = {"one": 1, "two": 2, "three": 3}
person = {"name": "Alice", "age": 25, "is_student": False}
empty_dict = {}

print(numbers, person, empty_dict)

{'one': 1, 'two': 2, 'three': 3} {'name': 'Alice', 'age': 25, 'is_student': False} {}

In [89]:
person = dict(name="Bob", age=30, is_student=True)
pairs = [("apple", 100), ("banana", 200)]
fruit_prices = dict(pairs)

print(person, fruit_prices)

{'name': 'Bob', 'age': 30, 'is_student': True} {'apple': 100, 'banana': 200}

In [90]:
keys = ["key1", "key2", "key3"]
default_dict = dict.fromkeys(keys, 0)

print(default_dict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [91]:
fruit_prices = {"apple": 100, "banana": 200, "cherry": 300}
print(fruit_prices["apple"])  # 100

# 値の更新
fruit_prices["banana"] = 250
print(fruit_prices)

100
{'apple': 100, 'banana': 250, 'cherry': 300}

In [92]:
fruit_prices = {"apple": 100, "banana": 200}
fruit_prices["grape"] = 400  # 新しい要素の追加
fruit_prices["banana"] = 180  # 値の変更

print(fruit_prices)

{'apple': 100, 'banana': 180, 'grape': 400}

In [93]:
fruit_prices = {"apple": 100, "banana": 200, "cherry": 300}

del_price = fruit_prices.pop("banana")
del fruit_prices["cherry"]
fruit_prices.clear()

print(fruit_prices, del_price)

{} 200

In [94]:
fruit_prices = {"apple": 100, "banana": 200, "cherry": 300}
print(fruit_prices.keys(), fruit_prices.values(), fruit_prices.items())

dict_keys(['apple', 'banana', 'cherry']) dict_values([100, 200, 300]) dict_items([('apple', 100), ('banana', 200), ('cherry', 300)])

In [95]:
fruit_prices = {"apple": 100, "banana": 200}
print("apple" in fruit_prices)  # True
print("grape" in fruit_prices)  # False

True
False

In [96]:
print("Hello, Python!")   # Hello, Python!
print(123)                # 123
print("test", end="")     # test（改行なし）
print("next line")        # next line

Hello, Python!
123
testnext line

In [97]:
print(len("Python"))      # 6（文字列の長さ）
print(len([1, 2, 3, 4]))  # 4（リストの要素数）

6
4

In [98]:
print(type(123))          # <class 'int'>
print(type("Python"))     # <class 'str'>
print(type([1, 2, 3]))    # <class 'list'>

<class 'int'>
<class 'str'>
<class 'list'>

In [99]:
print(max(5, 10, 20))     # 20
print(min([1, 2, 3, 4]))  # 1

20
1

In [100]:
print(sum([1, 2, 3, 4]))  # 10
print(sum((10, 20, 30)))  # 60

10
60

In [101]:
for i in range(5):
    print(i)              # 0, 1, 2, 3, 4

print(list(range(1, 10, 2)))  # [1, 3, 5, 7, 9]

0
1
2
3
4
[1, 3, 5, 7, 9]

In [102]:
def is_palindrome(s):
    if s == s[::-1]:
        print(f"「{s}」は回文です！")
    else:
        print(f"「{s}」は回文ではないです。")

is_palindrome("にんてんどううどんてんに")

「にんてんどううどんてんに」は回文です！

In [109]:
def greet(name):
    print(f"こんにちは、{name}さん！")

greet("太郎")

こんにちは、太郎さん！

In [110]:
def introduce(name, age):
    print(f"こんにちは、{name}さん！ 年齢は{age}歳ですね。")

introduce("花子", 25)

こんにちは、花子さん！ 年齢は25歳ですね。

In [111]:
def introduce(name, age=18):
    print(f"こんにちは、{name}さん！ 年齢は{age}歳ですね。")

introduce("太郎")

こんにちは、太郎さん！ 年齢は18歳ですね。

In [112]:
def add(*args):
    print("合計:", sum(args))

add(1, 2, 3, 4)

合計: 10

In [113]:
def add(a, b):
    return a + b

result = add(3, 5)
print(result)

8

In [114]:
def calculate(a, b):
    return a + b, a * b

sum_result, product_result = calculate(3, 4)
print("足し算:", sum_result)
print("掛け算:", product_result)

足し算: 7
掛け算: 12

In [115]:
import math
print(math.sqrt(16))  # 4.0

4.0

In [116]:
import datetime as dt
now = dt.datetime.now()
print("現在の日時:", now)

現在の日時: 2025-04-14 13:22:16.598687

In [117]:
from math import sqrt
print(sqrt(16))  # 4.0

from math import sqrt, pi
print(pi)        # 3.141592653589793

4.0
3.141592653589793

In [118]:
from math import *

In [119]:
import math

print(math.sqrt(25))  # 5.0
print(math.exp(1))    # 2.718281828459045
print(math.pi)        # 3.141592653589793

5.0
2.718281828459045
3.141592653589793

In [125]:
import datetime

now = datetime.datetime.now()
print(now)

birthday = datetime.datetime(1995, 5, 17)
print(birthday)

date1 = datetime.datetime(2023, 1, 1)
date2 = datetime.datetime(2024, 1, 1)
print((date2 - date1).days)  # 日数差

2025-04-14 13:27:21.823530
1995-05-17 00:00:00
365

In [127]:
import random

print(random.randint(1, 10))  # 1〜10のランダムな整数
my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)       # リストをランダムに並び替え
print(my_list)
print(random.choice(my_list)) # ランダムな要素を1つ選択

10
[3, 2, 4, 1, 5]
2

In [128]:
import os

print(os.getcwd())         # 現在の作業ディレクトリを取得
os.mkdir("new_folder")     # 新しいフォルダを作成
print(os.path.exists("example.txt"))  # ファイルやフォルダの存在確認

c:\Users\hotaka.fujita\Downloads\sample\05_programming
False

In [129]:
import urllib.request

url = "https://techacademy.jp"
response = urllib.request.urlopen(url)
html = response.read().decode("utf-8")
print(html[:500])  # 最初の500文字を表示

<!DOCTYPE html><html  lang="ja" data-theme="techacademy" data-capo=""><head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>プログラミングスクール | 受講者数No.1のテックアカデミー</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://www.googletagmanager.com/gtag/js?id=AW-1006744060" async data-hid="92ebc66"></script>
<script src="//static.criteo.net/js/ld/ld.js" asy

In [ ]:
# [A]: 「税抜価格」をユーザーから取得し、数値に変換する
tax_excluded_price = int(input("税抜価格を入力してください: "))

# [B]: 「税込価格」を計算する（消費税率は10%）
tax_rate = 0.10
tax_included_price = tax_excluded_price * (1+tax_rate)

# [C]、[D]: 送料の計算（2000円以上かどうかを判定して分岐する）
if tax_included_price >= 2000:
    shipping_cost = 0
    print("送料は無料です")
elif tax_included_price < 2000:
    shipping_cost = 350
    print(f"送料は{shipping_cost}円です")

# [E]: 送料込税込価格を計算して、変数に代入する
total_price = tax_included_price + shipping_cost

# 「送料込税込価格」を少数を含めずに出力する
print(f"送料込税込価格は{total_price:.0f}円です")   #:.0f <- 整数表示

送料は無料です
送料込税込価格は2200円です